# MacOS stuff
.DS_Store

# fish
fish/fish_history
fish/fishd.*
fish/fish_variables
gh/hosts.yml
op/*

coc/extensions/node_modules

nvim/plugin/packer_compiled.lua
github-copilot/hosts.json
karabiner/automatic_backups/*

